 <nav>
    <div class="nav-wrapper" style="background-color: #2F4F4F!important">
      <a href="#" class="brand-logo right">Info-center Dacia</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {{#if isInfo}}
          <li class="active"><a href="/">Info</a></li>
          {{else}}
          <li><a href="/">Info</a></li>
        {{/if}}
        {{#if isShop}}
          <li class="active"><a href="/shop">Shop</a></li>
          {{else}}
          <li><a href="/shop">Shop</a></li>
        {{/if}}
      
        {{#if isAuth}}
                {{#if isProfile}}
                <li class="active"><a href="/profile">Profile</a></li>
                {{else}}
                <li><a href="/profile">Profile</a></li>
              {{/if}}

                {{#if isContact}}
                <li style="width: 115px" class="active"><a href="/contacts">Add product</a></li>
                {{else}}
                <li style="width: 115px" class="news"><a href="/contacts">Add product</a></li>
              {{/if}}
                {{#if isCard}}
                <li class="active"><a href="/card">Collections</a></li>
                {{else}}
                <li class="news"><a href="/card">Collections</a></li>
              {{/if}}
              {{#if isOrder}}
                <li class="active"><a href="/orders">Orders</a></li>
                {{else}}
                <li><a href="/orders">Orders</a></li>
              {{/if}}
                <li style="width: 85px;"><a href="/auth/logout">Log Out</a></li>
        {{else}}
                {{#if isLogin}}
                <li class="active"><a href="/auth/login">Login</a></li>
                {{else}}
                <li><a href="/auth/login#login">Login</a></li>
              {{/if}}
        {{/if}}
      </ul>
    </div>
  </nav>